html, body{
	height: 100%;
	width: 100%;
}
.navbar{
	background-color: #401613;/*Cor do menu*/
	padding: 1% 0;/*Tamanho/Padding do menu */
	font-size: 1.2em;/*Fonte do menu */
	border-bottom: none;
}
.navbar-brand{
	min-height: 55px;/*minimo Height do logo */
	padding: 0 15px 5px;
}
.navbar-default .navbar-nav li a{
	color: #FED48A;/*Cor da fonte das letras do menu*/

}
.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a.active{
	color: #555;/*Cor da fonte das letras do menu mouse e ativo*/
}
#home{
	background: url(img/bread4.jpg) no-repeat center center fixed;/*Imagem do Fundo da home*/
	display: table;
	height: 70%;
	position: relative;
	width: 100%;
	background-size: cover;
}


.landing-text{/*Texto central do home*/
	display:table-cell;
	text-align: center;
	vertical-align: middle;
	color:#FFF;
}
.landing-text h1{/*Titulo do Texto central do home*/
	font-size: 500%;
	font-weight: 700;
}
.padding{
	padding: 80px 0;
	background-color: #FED48A;
}
.padding img{
	width: 100%;
}
#fixed{
	background: url(img/background.jpg) no-repeat center center fixed;
	display: table;
	height: 60%;
	position: relative;
	width: 100%;
	background-size:cover;
}
footer{
	width: 100%;
	background-color: #401613;
	padding: 5% 5% 10% 5%;
	color: #FFF;
}
.fab{
	padding: 15px;
	color: #FFF;
}
.fab:hover{
	color: #D5D5D5;
	text-decoration: none;
}
.icon{
	max-width: 200px;
}

@media (max-width: 768px){
	.landing-text h1{
		font-size: 300%;
	}
	.fa{
		font-size: 20px;
		padding: 10px;
	}
	.icon{
		padding-top:5%;
		max-width:100px;
	}
}

/*--- iOS Landing Page Fix
section {
 	position: relative;
 	width: 100%;
 	height: 100%;
 	display: table;
}
.home-wrap {
 	clip: rect(0, auto, auto, 0);
 	position: absolute;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 100%;
}
#home {
	background-image: url('img/mountains.jpeg');
 	position: fixed;
 	display: table;
 	top: 0;
 	left: 0;
 	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	-webkit-transform: translateZ(0);
          transform: translateZ(0);
	will-change: transform;
	z-index: -1;
}
.landing-text {
	z-index: 100;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
--*/

/*--- iOS Fixed Image Fix
figure {
	position: relative;
	width: 100%;
	height: 60%;
}
.fixed-wrap {
	clip: rect(0, auto, auto, 0);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#fixed {
	background-image: url('img/background.jpg');
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	-webkit-transform: translateZ(0);
          transform: translateZ(0);
	will-change: transform;
}
--*/
